<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>{% block title %}Trackle{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        {% if current_user.is_authenticated %}

            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('index') }}">Add Job</a>
            <a href="{{ url_for('jobs') }}">View Jobs</a>
            <a href="{{ url_for('instant_letter') }}">Instant Cover Letter</a>
            <span>Hi, {{ current_user.username }}</span>
            <a href="{{ url_for('logout')}}">Logout</a>
        {% else %}
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
         {% endif %}
    </nav>

    {% block content %}{% endblock %}

</body>
</html>